.bg-white.shadow(class='p-4  grid gap-4 grid-rows-5  rounded-[32px]' style="box-shadow: 0px 2px 25px 0px rgba(43, 109, 245, 0.10);")
	a.row-span-3(href="")
		img.rounded-3xl(class='  h-full w-full' src='https://via.placeholder.com/359x258')
	div.row-span-2.grid.gap-4
		.text-neutral-900.font-bold.capitalize.leading-snug(class="text-[22px] ") 900 ر.س
		.text-neutral-900.text-base.font-medium.capitalize.leading-none(class="") برنامج اللغة الإنجليزية - عرض مستوى واحد
		.text-neutral-500.text-sm.font-normal.leading-relaxed(class=" ") هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات.
		.cent 
			button.btn_sec(class=' ')
				span أضف الى السلة
				img(src="/dist/assets/cart-in-card.svg", alt="")
