section.container
	.h_primary استكشف الدورات التدريبية
	.swiper.courses_swiper
		.swiper-wrapper.mb-12
			.swiper-slide 
				include ./course-card

			.swiper-slide 
				include ./course-card

			.swiper-slide 
				include ./course-card

			.swiper-slide 
				include ./course-card

			.swiper-slide 
				include ./course-card
			.swiper-slide 
				include ./course-card

		.swiper-pagination

