footer(class="bg-[#121212]")
	.grid.grid-cols-10.gap-x-8.container.gap-y-16.py-8(class=" maxsm:justify-items-center text-neutral-400 text-sm md:text-base font-normal maxsm:gap-x-4")
		.col-span-3.grid.gap-4(class="maxlg:col-span-6 maxsm:col-span-full maxsm:justify-items-center")
			h6.text-white.text-xl.font-medium.capitalize(class="maxmd:text-base") ابقى على تواصل
			p.flex.items-center.gap-2
				img(src="/dist/assets/phone.svg", alt="" class="size-6")
				span +966122724777
			p.flex.items-center.gap-2
				img(src="/dist/assets/email.svg", alt="" class="size-6")
				span info@silavisions.academy

			p.flex.items-center.gap-4
				a(href="") 
					img(src="/dist/assets/facebook.svg", alt="" class="size-6")
				a(href="") 
					img(src="/dist/assets/youtube.svg", alt="" class="size-6")
				a(href="") 
					img(src="/dist/assets/xtwitter.svg", alt="" class="size-6")
				a(href="") 
					img(src="/dist/assets/linked.svg", alt="" class="size-6")
				a(href="") 
					img(src="/dist/assets/insta.svg", alt="" class="size-6")
				
		div.grid.gap-4.col-span-2(class="maxlg:col-span-4 maxsm:col-span-5")
			h6.text-white.text-xl.font-medium.capitalize(class="maxmd:text-base") الصفحات
			a(href="") الرئيسية
			a(href="") الدورات التدريبية
			a(href="") آخر العروض
			a(href="") اختبار تحديد المستوى
			a(href="") تواصل معنا
		div.grid.gap-4.col-span-2(class="maxlg:col-span-4 maxsm:-order-none maxlg:order-last maxsm:col-span-5")
			h6.text-white.text-xl.font-medium.capitalize(class="maxmd:text-base")  سياسات واحكام
			a(href="") الشروط والاحكام
			a(href="") سياسة النزاهة الأكاديمية
			a(href="") الملكية الفكرية
			a(href="") سياسة الحضور
			
		.col-span-3(class="maxlg:col-span-6 maxsm:col-span-full ")
			h6.text-white.text-xl.font-medium.capitalize.mb-4(class="maxmd:text-base")  اشترك في النشرة الإخبارية لدينا
			input(type="email", name="" placeholder="أدخل عنوان بريدك الإلكتروني" class="maxsm:w-full") 
	div( class=" h-0.5 bg-neutral-200")
	.text-center.py-6(class="text-neutral-200 md:text-lg   capitalize leading-[26px]") Copyright©2024 &nbsp; 
		a.text-white.font-semibold.tracking-wider(href="" class="maxmd:text-lg")  silavisions.academy
