header.bg-white
	.container.cent_bet.py-4
		img(src="/dist/assets/logo.svg", alt="" class="max-w-[132px] ")
		nav.cent(class="maxlg:hidden xl:gap-6 gap-4 ")
			a(href="").nav_link.nav_link_dash الرئيسية
			a(href="").nav_link.nav_link_dash  الدورات التدريبية
			a(href="").nav_link.nav_link_dash آخر العروض
			a(href="").nav_link.nav_link_dash  اختبار تحديد المستوى
			a(href="").nav_link.nav_link_dash تواصل معنا
		.cent.gap-3(class="xl:gap-6")
			button.shrink-0
				img(src="/dist/assets/cart.svg", alt="cart icon")
			img.h-12(src="/dist/assets/line.svg", alt=" line")
			
			button.btn_primary(class="maxlg:hidden") تسجيل الدخول
			button.shrink-0(class="lg:hidden" @click=" sideBar = true") 
				img(src="/dist/assets/toggle.svg", alt="" class="ltr:scale-x-[-1] transform")
.fixed.bg-black.bg-opacity-85.drop-shadow-md.inset-0.z-50.hidden(class="backdrop-blur-[2px]" x-show="sideBar" :class="sideBar?'!block':''"   )
	.bg-white.h-full( class="w-72 sm:w-4/5 sm:max-w-96 p-4 divide-y-[24px] divide-transparent" x-show="sideBar" x-transition:enter=" transform ease-in duration-200"
   x-transition:enter-start=" rtl:translate-x-[288px] ltr:-translate-x-[288px] "
   )
		.cent_bet 
			img(src="/dist/assets/logo.svg", alt="" class=" max-w-28 ")
			button.cent( @click=" sideBar = false" class="group p-2.5 hover:bg-primary hover:bg-opacity-10 rounded-lg  duration-300") 
				img(src="/dist/assets/xx.svg", alt="" class=" w-4   ")
			
		.cent
			button.btn_primary(class="") تسجيل الدخول
		nav.flex.flex-col(class="gap-6  ")
			a(href="").nav_link.nav_link_dash الرئيسية
			a(href="").nav_link.nav_link_dash  الدورات التدريبية
			a(href="").nav_link.nav_link_dash آخر العروض
			a(href="").nav_link.nav_link_dash  اختبار تحديد المستوى
			a(href="").nav_link.nav_link_dash تواصل معنا