main.bg-sec.pt-16.pb-20.mb-40
	.container
		.grid.gap-16.mb-8(class="lg:grid-cols-2")
			.flex.flex-col.justify-center.gap-8
				h1(class="text-4xl md:text-6xl lg:text-7xl  leading-none font-extrabold text-white  maxlg:text-center lg:leading-[90px] text_shadow") تعلم الانجليزية
				h3(class="lg:text-4xl  leading-none font-semibold text-primary lg:leading-[60px] maxlg:text-center text-xl md:text-2xl") بطريقه فعاله فى أى وقت وأى مكان 
				.cent
					button.btn_primary(class="md:w-2/5") حدد مستواك الأن
			img(src="/dist/assets/hero-silavision.webp", alt="" class="maxlg:order-first")
		.-mb-48.px-4
			.swiper.option_swiper
				.swiper-wrapper.py-10
					div.swiper-slide(class=" bg-white rounded-3xl   border border-gray-100    !grid justify-items-center gap-3 p-3"   style="box-shadow: 0px 2px 25px 0px rgba(43, 109, 245, 0.10);")
						img(src="/dist/assets/level.svg", alt="" class="size-20")
						p(class="text-center text-neutral-900 text-base font-medium  capitalize leading-normal ") اختبر مستواك فى اللغة الانجليزية 
					div.swiper-slide(class=" bg-white rounded-3xl  border  border-gray-100    !grid justify-items-center gap-3 p-3" style="box-shadow: 0px 2px 25px 0px rgba(43, 109, 245, 0.10);")
						img(src="/dist/assets/learn.svg", alt="" class="size-20")
						p(class="text-center text-neutral-900 text-base font-medium  capitalize leading-normal ") أبدا بتعلم المستوى المناسب فى اللغة الانجليزية   
					div.swiper-slide(class=" bg-white rounded-3xl  border  border-gray-100    !grid justify-items-center gap-3 p-3" style="box-shadow: 0px 2px 25px 0px rgba(43, 109, 245, 0.10);")
						img(src="/dist/assets/time.svg", alt="" class="size-20")
						p(class="text-center text-neutral-900 text-base font-medium  capitalize leading-normal ") اختار الوقت المناسب للدراسة 
					div.swiper-slide(class=" bg-white rounded-3xl  border  border-gray-100    !grid justify-items-center gap-3 p-3" style="box-shadow: 0px 2px 25px 0px rgba(43, 109, 245, 0.10);")
						img(src="/dist/assets/level.svg", alt="" class="size-20")
						p(class="text-center text-neutral-900 text-base font-medium  capitalize leading-normal ") احصل على شهادة معتمدة من وزارة التعليم السعودى 
				.swiper-pagination