.relative.col-span-full.bg-gray-50.border.border-neutral-200.flex.items-center.gap-3(class='h-[122px] rounded-[32px] p-6 ')
	img(src="/dist/assets/dawart-markting.svg", alt="" class=" size-20 shrink-0")
	.text-neutral-900.text-lg.font-normal(class="  leading-[34px]") إذا كنت تتطلع إلى الحصول على منحة دراسية فإنك لا بد من اجتيازك لاختبار التوفل، الذي يعتبر المعيار الأهم لإتقان اللغة الإنجليزية وإجادتها  في محيط الجامعات والكليات الدولية
