.col-span-2.grid.gap-8
	img(class="h-[430px] rounded-[32px]" src="https://via.placeholder.com/843x430")
	.bg-gray-50.border.border-neutral-200.px-4.py-6.grid.gap-6.content-start(class=' rounded-[32px]')
		.h_sub_primary أهم ما تقدمه دورة توفل
		ul.grid.gap-4
			each item in Array(5).fill()
				li.flex.items-center
					img(src="/dist/assets/checked-task.svg" alt="" class="size-6")
					.text-right.text-neutral-500.text-base.font-normal(class="leading-[18px]") إتقان المهارات الأساسية الأربعة للاختبار (التحدث، الاستماع، القراءة والكتابة)
		.bg-neutral-200(class=' h-0.5')
		.h_sub_primary ما نقدمه للمتدرب :
		ul.grid.gap-4
			each item in Array(5).fill()
				li.flex.items-center
					img(src="/dist/assets/checked-task.svg" alt="" class="size-6")
					.text-right.text-neutral-500.text-base.font-normal(class="leading-[18px]") إتقان المهارات الأساسية الأربعة للاختبار (التحدث، الاستماع، القراءة والكتابة)